<%- include('partials/header') -%>

  <main class="container-fluid h-100 bg-primary">
    <div class="row d-flex justify-content-center align-items-center h-50">
      <div class="col-10 col-sm-8 col-md-6">
        <div class="card" style="border-radius: 15px;">
          <div class="card-body p-5">
            <h3 class="text-center my-3">Welcome</h3>
            <div class="row d-flex flex-column gy-3">
              <a href="/login" class="btn btn-danger"> Login</a>
              <a href="/signup" class="btn btn-danger"> Signup</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>


  <%- include('partials/footer') -%>